<!DOCTYPE html>
<html>
    <head>
        <title>emailpathao</title>
    </head>
    <body>
        <h1>send mail through this site </h1>
        <form action="/mail" method="post">
            <label for="email">Email:</label>
             <input type="text" name="email" placeholder="enter your mail"><br><br>
             <label for="mail" >Your mail:</label>
             <input type="text" name="mail" placeholder="type your mail here..."><br>
             <button type="submit" name="btn" value="ok">Send</button>
        </form>
    </body>
</html>